<div class="home__wrapper">
    <div class="container">
        <div class="lottie">
            <lottie-player 
            src="https://assets6.lottiefiles.com/private_files/lf30_fue89aft.json"  
            background="transparent"  speed="1"  style="width: 30%; height: 30%;margin:auto"  
            loop  autoplay></lottie-player>
        </div>
        <div class="content">
            <h1 class="title is-1">Welcome to The Monitorizer</h1>
            <p>Do You Want To Access A Cool Tool To Monitor Your Website? You Are In The Right Place</p>
            <div class="btns__container">
                <button class="button is-primary is-outlined is-rounded" (click)="onNavigate()">New? Signup Here</button>
            </div>
        </div>
        
    </div>
</div>
